{% extends 'WarrantyLifeApiExampleBundle::layout.html.twig' %}

{% block body %}
<h1>Warranty Life API Examples</h1>
<h2>Version 201308 (Latest)</h2>
<ul>
	<li><a href="{{ path('apiexample_category') }}">Categories</a></li>
	<li><a href="{{ path('apiexample_warranty_plans') }}">Warranty Plans</a></li>
	<li><a href="{{ path('apiexample_customer') }}">Customers</a></li>
	<li><a href="{{ path('apiexample_manufacturer') }}">Manufacturers</a></li>
	<li><a href="{{ path('apiexample_product') }}">Products</a></li>
	<li><a href="{{ path('apiexample_item') }}">Items</a></li>
	<li><a href="{{ path('apiexample_warranty') }}">Warranties</a></li>
</ul>

<h2>Version 201204</h2>
<ul>
	<li><a href="{{ path('apiexample_category') }}?v=201204">Categories</a></li>
	<li><a href="{{ path('apiexample_warranty_plans') }}?v=201204">Warranty Plans</a></li>
	<li><a href="{{ path('apiexample_customer') }}?v=201204">Customers</a></li>
	<li><a href="{{ path('apiexample_manufacturer') }}?v=201204">Manufacturers</a></li>
	<li><a href="{{ path('apiexample_product') }}?v=201204">Products</a></li>
	<li><a href="{{ path('apiexample_item') }}?v=201204">Items</a></li>
	<li><a href="{{ path('apiexample_warranty201204') }}?v=201204">Warranties</a></li>
</ul>

{#
<h2>Version 201201</h2>
<ul>
    <li><a href="{{ path('apiexample_category') }}?v=201201">Categories</a></li>
    <li><a href="{{ path('apiexample_warranty_plans') }}?v=201201">Warranty Plans</a></li>
    <li><a href="{{ path('apiexample_customer') }}?v=201201">Customers</a></li>
    <li><a href="{{ path('apiexample_item201201') }}?v=201201">Items</a></li>
    <li><a href="{{ path('apiexample_warranty201204') }}?v=201201">Warranties</a></li>
</ul>
#}
{% endblock %}
